$color-primary:     #212121;
$color-secondary:   #000000;
$color-muted:       #99B4BF;
$color-accent:      #D9B70D;
$color-accent2:     #BF8D30;

// Example font stack
$font-body: 'https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
$font-title: 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';