$color-primary:     #2D4B73;
$color-secondary:   #253C59;
$color-muted:       #99B4BF;
$color-accent:      #D9B70D;
$color-accent2:     #BF8D30;

// Example font stack
$font-body: 'Open Sans', sans-serif;